// Variáveis
$color-theme1: #808890;
$color-theme2: #1f1f1f;
$color-theme3:lighten(#f0ca4d, 5);
$color-text: darken(#333,0);
$spacing-default: 15px;

//Fonts
$font-primary: 'Oswald', sans-serif;

// Screen sizes
$screen-xs: 320px;
$screen-sm: 320px;
$screen-md: 720px;
$screen-lg: 900px;